.tambro {
    color:forestgreen;
    text-align: right;
    font-size: 30px;
}

.msg {
   background-color: purple;
   color: white;
   padding: 5px;
   border-radius: 10px;
   border: 0px;
   margin: 5px;
{

img }
width: 100%;